# CONFIG_NO_HZ_IDLE is not set
CONFIG_NO_HZ_FULL=y
CONFIG_PREEMPT_LAZY=y
# CONFIG_PREEMPT is not set
CONFIG_PREEMPT_RT=y
CONFIG_RCU_BOOST=y
CONFIG_RCU_BOOST_DELAY=500
# CONFIG_SWAP is not set
# CONFIG_VIRTUALIZATION is not set
# CONFIG_SLUB_CPU_PARTIAL is not set
# CONFIG_UNINLINE_SPIN_UNLOCK is not set
# CONFIG_NET_RX_BUSY_POLL is not set
# CONFIG_LEDS_TRIGGER_CPU is not set
